@font-face {
  font-family: Koho;
  src: url('./Fonts/KoHo-Bold.ttf') format('opentype');
}

body, html {
  margin: 0px;
  width: 100%;
}

body {
  background-image: url('./Images/back-ground.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  font-family: Koho;
}